[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = ">=3.8.0"
flask = ">=0.14.2"
flask-wtf = ">=0.14.2"
wtforms = "*"
pytest = ">=4.5.0"

[requires]
python_version = "3.7"
