<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>

  <body>
    <div class="jumbotron jumbotron-fluid"
    style = "background-image: url({{ url_for('static', filename='conn.jpg') }})">
      <div class="container">
        <h1 class="display-4">Connecting Flights</h1>
        <p class="lead">Shortest path through Floyd-Warshall algorithm</p>
      </div>
    </div>
    <div class="row">
	<div class="container">
		<form method="POST" action="">
			<div class="form-row">
				<div class="col">
			    	       
			        	{{ form.orig.label(class="form-control-lable") }}
			        	{{ form.orig(class="form-control") }}
					
				</div>
				<div class="col">	
						{{ form.dest.label(class="form-control-lable")}}     
				        {{ form.dest(class="form-control") }}
					
				</div>
				<div class="col">
						{{ form.cri.label(class="form-control-lable")}}     
					   	{{ form.cri(class="form-control") }}
					
				</div>
			</div>
			<br>
			<div class="form-row" style="top-margin: 1rm">
				<div class="col">
						{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</div>
		</form>
	</div>
	</div>
	<br>
	<div class="row">
	<div class="container">
		<ul class="list-group">
		{%if total != ""%}
			<li class="list-group-item">
        {%if result|length != 0%}
				  <h3>Lowest {{total}}</h3>
        {%else%}
          <p>No data for this query</p>
        {%endif%}
			</li>
		{%endif%}
		{%for path in result%}
	    	<li class="list-group-item"> 
	    		<div class="container">
	    			<h2 style="color:darkblue">{{path["orig"]}}-{{path["dest"]}}</h2>
	    			<h4 style="color:grey">{{path["airline"]}} {{path["no"]}} </h4>
	    			<p>{{path["weight"]}}</p>
	    		</div> 
	    	</li>
	    {%endfor%}
	</div>
	</div>  
  </body>
</html>